*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;

}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 40px
}
#header-links{
    list-style: none;
    display: flex;
    gap: 20px;
}
#grid{
    display: grid;
    width: 500px;
    height: 500px;
    background-color: #ccc;
}